* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.item-presentation {
    border: 4px solid black;
    margin-bottom: 20px;

}

.title, h4 {
    text-transform: uppercase;
}

h4{
    margin-bottom: 10px;
}

.title::after {
    content: "SALE";
    position: absolute;
    left: -37px;
    top: -16px;
    color: white;
    background-color: #ce1b1b;
    font-weight: bold;
    height: 20px;
    width: 25px;
    font-size: 12px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 30px;
    letter-spacing: 4px;
    text-align: center;
    display: inline-block;

}

.title {
    height: 30px;
    text-align: center;
    background-color: #f7f7f7;
    padding: 10px 0;

}
.title-container {
    position: relative;
   padding-bottom: 40px;




}
.price {
    size: 65px;
    margin-bottom: 20px;
    float: left;
    padding-right: 80px;
}
a {
    margin-bottom: 20px;

}
a:link {
color: black;

}

a:hover {
text-decoration: none;
}

.free {
    text-transform: uppercase;
    margin-bottom: 20px;
    float:  top;

    display: inline-block;

}

button {
    background-color: black;
    color: white;
    text-transform: uppercase;
    width: 100%;
    height: 40px;
}
button:hover {
    background-color: white;
    color: black;
    border-top: 4px solid black;

}

.details-list {
    list-style: square;
    margin-bottom: 20px;
}


ul{
    margin-bottom: 10px;

}
li{
    margin-bottom: 10px;
    padding-left: 15px;
    margin-left: 15px;

}
p {
    margin-bottom: 20px;

}


.color{
    display: inline-block;
    height: 22px;
    width: 22px;
    margin-right: 9px;
    margin-bottom: 20px;

}

.black {

    background-color: black;


}
.blue {
    background-color: blue;
}
.red {
    background-color: red;
}
.yellow {
    background-color: yellow
}
.green {

    background-color: green;
}
.brown {
    background-color: #672d02;
}

.more-info:link {
    margin-bottom: 5px;
    display: inline-block;
}
.picture-box {
    width: 245px;
    height: 220px;
    float: left;
    margin-right: 40px;

}
.middle-box {
    height: 220px;
    width: 245px;
    float: left;
    margin-right: 40px;
}

.product-details {
    width: 245px;
    height: 220px;
    float: left;

}
.container {
    width: 825px;
    height:400px;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    margin: 50px auto;
    clear: both;

}

.clearfix::after {
    clear: both;
    content: '';
    display: block;
}
article {
    clear: both;
}

.description {
    clear: both;
}